vilgotanl.edeby.net {
	reverse_proxy localhost:3000

	respond /hi "Hello, world!"

	reverse_proxy /ws localhost:1234 {
		header_up Connection {http.request.header.Connection}
		header_up Upgrade {http.request.header.Upgrade}
		header_up Host {host} 
        header_up X-Real-IP {remote} 
        header_up X-Forwarded-For {remote} 
	}
}